body{
background-color: black   ;
color:red  ;
font-family: "Edu NSW ACT Hand Pre", cursive;
margin: 0px;
text-align: center  ;

}
header{

    font-size: 30px;
    border-bottom: solid 5px pink ;
    padding:30px ;
    text-align: center;
}

h1{

    font-size: 20px;
}
p {
  font-size: 20px;
}
section {
    background-color:rgba(204, 158, 59, 0.87) ;
    padding-bottom: 80px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}