body{
background-color: black ;
color: gold ;
font-family: "Edu NSW ACT Hand Pre", cursive;
margin: 0px;

}
header{

    font-size: 40px;
}

h1{

    font-size: 60px;
}
p {
  font-size: 40px;
}